################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.opendb
*.tlog
/NJUPTNetAPI/Debug
/Debug
/.vs/